/********************************* Général *********************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/********************************* Body *********************************/
body {
    background-color: #3B3939;
}

/********************************* Header *********************************/
header {
    width: 100%;
    padding: 0.5em 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

/*** Partie gauche de la topbar ***/
.front_navbar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front_navbar .logo {
    width: 30%;
}

.front_navbar .logo img{
    width: 20%;
}

.front_navbar .search_bar{
    width: 70%;

}

/*** Partie droite de la topbar ***/
.back_navbar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*** NavBar ***/
nav {
    width: 80%;
}

nav ul {
    width: 100%;
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    width: 25%;
    list-style: none;
}

nav li a {
    color: #FFDFAC;
    text-decoration: none;
}

/*** Bouton connexion ***/
button .connexion_navbar {
    width: 20%;
}

/********************************* Main *********************************/


/********************************* Footer *********************************/

/********************************* Media Queries *********************************/