/********************************* Général *********************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/********************************* Body *********************************/
body {
    background-color: #3B3939;
}

/********************************* Header *********************************/
header {
    width: 100%;
    padding: 0.5em 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

    /*** Partie gauche de la topbar ***/
.front_navbar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front_navbar .logo {
    width: 60%;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
}

.front_navbar .logo .h1 {
    width: 85%;
    color: #FFDFAC;
}

.front_navbar .logo img{
    width: 15%;
}

.front_navbar .search_bar{
    width: 40%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.front_navbar .search {
    width: 90%;
}

.front_navbar .search_btn {
    width: 10%;
    background-color: #3B3939;
    border: none;
}

.front_navbar .search_btn svg path {
    fill: #FFDFAC;
}

    /*** Partie droite de la topbar ***/
.back_navbar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

        /*** NavBar ***/
nav {
    width: 80%;
}

nav ul {
    width: 100%;
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

nav li {
    width: 15%;
    list-style: none;
    text-align: center;
}

nav li a {
    color: #FFDFAC;
    font-size: 1.1em;
    text-decoration: none;
}

nav li a:hover {
    border-bottom: 0.2em solid #DD4646;
    border-radius: 7%;
}

            /** Menu déroulant **/
.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dropbtn {
    background-color: #3B3939;
    color: #FFDFAC;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 1.1em;
    padding: 0.1em;
    border: none;
    cursor: pointer;
}

.dropdown svg path{
    width: 30%;
    fill: #FFDFAC;
}

.dropdown-content {
    display: none;
    background-color: #3B3939;
    padding: 0.2em;
    min-width: 10em;
    border: 0.2em solid #DD4646;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    bottom: -5.5em;
    left: 0;

}

.dropdown-content a {
    color: #FFDFAC;
    font-size: 1.1em;
    padding: 0.4em;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    transform: scale(1.1);
    transition: 0.4s;
    border: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    transform: scale(1.1);
    transition: 0.4s;
}

        /*** Bouton connexion ***/
.button-62 {
  background: linear-gradient(to bottom right, #DD4646, #FFDFAC);
  border: 0;
  border-radius: 12px;
  color: #3B3939;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}


/********************************* Main : Accueil *********************************/
.inscription {
    width: 100%;
}

.inscription .image {
    width: 100%;
}

.inscription .image img{
    width: 15%;
}

/********************************* Footer *********************************/

/********************************* Media Queries *********************************/